body {
  color: black;
  font-family: Poppins ,Arial;
}

.activity-container {
  background-color: lightskyblue;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 40px;
  text-align: center;
}

.activity-span-title {
  font-weight: 600;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}