.loading-text {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins';
  color: black;
}

.attraction-item {
  background-color: rgb(254, 254, 219);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.attraction-name {
  display: inline-block;
  margin-right: 10px;
  font-family: Poppins;
}

.attraction-name.light-theme {
  color: black
}

.attraction-name.dark-theme {
  color: white;
}