.city-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.city-weather-info-container {
  width: 300px;
}

.city-weather-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.city-weather-info .light-theme {
  background-color: rgba(255, 255, 255, 0.85);
}

.city-weather-info .dark-theme {
  background-color: rgba(13, 27, 42, 0.5);
  color: #fff;
}

.weather-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.local-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-icon {
  height: 40px;
  width: 40px;
}

.calendar-icon {
  height: 30px;
  width: 30px;
}